{% extends "base.html" %}
{% block conteudo %}
    <div class="card text-white bg-dark mb-3" style="width: 40rem; margin:0 auto">
        <div class="col-xl-12">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <img src="{{ pokemon.imagem.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-xl-4">
                        <br><br><br>
                        <h4 class="card-title">{{ pokemon.nome }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="card-text"><b>Tipo:<br></b>
                            {% for dados in pokemon.fk_tipo.all %}
                            {{ dados.nome }}<br>
                            {% endfor %}
                        </p>
                        <p class="card-text"><b>Descrição:<br></b>
                            {% for dados in pokemon.fk_tipo.all %}
                            {{ dados.descricao_tipo }}<br>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col">
                        <p class="card-text"><b>Habilidade:<br></b>
                            {% for dados in pokemon.fk_habilidade.all %}
                            {{ dados.nome }}<br>
                            {% endfor %}
                        </p>
                        <p class="card-text"><b>Descrição:<br></b>
                            {% for dados in pokemon.fk_habilidade.all %}
                            {{ dados.descricao_habilidade }}<br>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col">
                        <p class="card-text"><b>HP: </b>{{ pokemon.pontos_de_vida }}</p>
                        <p class="card-text"><b>Ataque: </b>{{ pokemon.pontos_de_ataque }}</p>
                        <p class="card-text"><b>Defesa: </b>{{ pokemon.pontos_de_defesa }}</p>
                        <p class="card-text"><b>Ataque Especial: </b>{{ pokemon.ataque_especial }}</p>
                        <p class="card-text"><b>Defesa Especial: </b>{{ pokemon.defesa_especial }}</p>
                        <p class="card-text"><b>Velocidade: </b>{{ pokemon.pontos_de_velocidade }}</p>
                        <p class="card-text"><b>Peso: </b>{{ pokemon.peso }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-danger btn-lg" href="{% url 'pokedex:mostrar_pokemons' %}" role="button">
        Voltar
    </a>
{% endblock %}